---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="de">
  <head>
    <BaseHead title="Bewerbung - CommunitySMP" description="Bewirb dich jetzt für den CommunitySMP Minecraft Server!" />
  </head>
  <body>
    <Header />

    <main style="max-width: 600px; margin: 2rem auto; padding: 1rem;">
      <h1>Bewerbungsformular</h1>
      <form action="https://formspree.io/f/mblkwojz" method="POST">
        <label>
          Dein Name:
          <input type="text" name="name" required>
        </label>

        <label>
          Alter:
          <input type="number" name="number" min="10" max="99" required>
        </label>

        <label>
          Minecraft Name:
          <input type="text" name="minecraftName" required>
        </label>

        <label>
          Warum möchtest du auf den Server?
          <textarea name="reason" rows="4" required></textarea>
        </label>

        <label>
          Erfahrung mit Minecraft-Servern:
          <textarea name="experience" rows="4"></textarea>
        </label>
 
       <label>
          An welchen Tagen der Woche kannst du Helfen?
          <input type="days" name="days" rows="7" placeholder="z.B. Montags, Mittwochs, Freitags..." required>
       </label>
        
       <label>
         Zu welchen Uhrzeiten bist du Verfügbar?<br>
         Von <input type="time" name="time" rows="3" placeholer="z.B. 10:30 - 17:00 Uhr" required>
       </label>

       <label>
         <br> Bis <input type="time" name="time" rows="3" placeholer="z.B. 10:30 - 17:00 Uhr" required>
       </label>

        <label>
          Dein Discord-Tag:
          <input type="text" name="discord" placeholder="z.B. Spieler#1234" required>
        </label>

        <label>
          Deine E-Mail Adresse:
          <input type="text" name="mail" placeholder="Deine Mail Adresse" required>
        </label>

        <button type="submit" style="margin-top: 1rem;">Bewerbung absenden</button>
      </form>
    </main>

    <Footer />
  </body>
</html>