---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout title="Impressum">
  <h1>Impressum</h1>

  <p>Angaben gemäß § 5 TMG:</p>

  <p>
    Jona Gotthardt<br />
    Steighausstraße 10<br />
    35708 Haiger-Allendorf<br />
    Deutschland
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href="mailto:jonagotthardt@outlook.de">jonagotthardt@outlook.de</a>
  </p>

  <h2>Haftung für Inhalte</h2>
  <p>
    Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit
    und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
  </p>

  <h2>Haftung für Links</h2>
  <p>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
    Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
    verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
    deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
    außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors
    bzw. Erstellers.
  </p>
</Layout>